<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<springProperty scope="context" name="appName" source="spring.application.name" />

	<springProperty scope="context" name="LOG_FILE" source="logging.file:-" />
	​
	<property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(---) %clr(%logger{100}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

	<!-- Appender to log to console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- Appender to log to file in a JSON format -->
	<appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>3</maxHistory>
			<totalSizeCap>50MB</totalSizeCap>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
						"severity": "%level",
						"service": "${appName:-}",
						"trace": "%X{X-B3-TraceId:-}",
						"span": "%X{X-B3-SpanId:-}",
						"parent": "%X{X-B3-ParentSpanId:-}",
						"exportable": "%X{X-Span-Export:-}",
						"pid": "${PID:-}",
						"thread": "%thread",
						"class": "%logger{100}",
						"message": "%message",
						"exception": "%throwable"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>

	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="console" />
		</root>
	</springProfile>
	
	<springProfile name="local">
		<root level="INFO">
			<appender-ref ref="console" />
			<appender-ref ref="logstash" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="console" />
		</root>
	</springProfile>
</configuration>